{% extends "header.html" %}
{% block content %}
{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% if results %}
    {% for result in results %}
    <div class="media">
        <!--<img src="{{ result.poster_url }}" class="mr-3 movie" alt="missing">-->
        <div class="media-body">
            <h5 class="mt-0">
                <a href="{{ url_for('posts.item', item_type=item_type, item_id=result.id) }}">
                    {{ result.description}}</a>
                <!-- ({{ result.year }}) -->
            </h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>

<p>Is your item not listed here?</p>
<a href="{{ url_for('posts.new', item_type=item_type) }}">
    <h4>Make a new post for a {{item_type}} item!</h4>
</a>

{% endblock %}