{% extends "header.html" %}
{% block content %}
<div class="card" style="padding: 20px 40px 20px 40px">
    <div class="row">
        <h1>Profile: <strong>{{username}}</strong>
            {% if is_verified %}
            <span class="badge rounded-pill bg-primary">Verified UMD Student</span>
            {# <small class="float-right">{{ is_verified }}</small> #}
            {% endif %}
        </h1>
        <div class="col">
            <small class="float-right">Lost item posts: {{lost_results|length}}</small><br>
            <small class="float-right">Found item posts: {{found_results|length}}</small><br>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>{{username}}'s Lost Item Posts</h3>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap align-items-stretch justify-content-center p-2">
            {% for result in lost_results %}
            <div class="card m-2 p-2 expand-on-hover" style="width: 12rem; position: relative;">
                <img src="data:image/png;base64,{{ result.b64_image }}" class="mr-3 movie" alt="item picture">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a class="stretched-link"
                            href="{{ url_for('posts.item', item_type='lost', item_id=result.id) }}">
                            {{ result.description }} </a>
                    </h5>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>{{username}}'s Found Item Posts</h3>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap align-items-stretch justify-content-center p-2">
            {% for result in found_results %}
            <div class="card m-2 p-2 expand-on-hover" style="width: 12rem; position: relative;">
                <img src="data:image/png;base64,{{ result.b64_image }}" class="mr-3 movie" alt="item picture">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a class="stretched-link"
                            href="{{ url_for('posts.item', item_type='found', item_id=result.id) }}">
                            {{ result.description }} </a>
                    </h5>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}