{% extends "header.html" %}
{% block content %}

<div class="card" style="padding: 20px 40px 20px 40px">
    <div>
        <div class="row">
            <h1>Welcome back, <strong>{{current_user.get_id()}}</strong>!</h1>
        </div>
        <div class="row">
            {# Link to see public facing profile of the current user #}
            <a href="{{url_for('users.user_profile', username=current_user.get_id())}}">
                <h5>Click here to see your public
                    profile.</h5>
            </a>
        </div>

        <div class="row">
            <p>To update your account, fill out a relevant form below.</p>
        </div>
    </div>
</div>

<div class="row">
    {# Username Update Form #}

</div>
<div class="card">
    <h3>Change username</h3>
    <div class="form-container">
        <form method="POST" action="">
            {{ uname_form.csrf_token }}
            <div class="form-group">
                {{ uname_form.new_username(class="form-control form-field", placeholder='New username') }}

                {% if uname_form.new_username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in uname_form.new_username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ uname_form.submit(class="btn btn-primary input-group") }}
            </div>
        </form>
    </div>
</div>
<div class="row">
    {# Password Update Form #}

</div>
<div class="card">
    <h3>Change Password</h3>
    <div class="form-container">
        <form method="POST" action="">
            {{ pw_form.csrf_token }}
            <div class="form-group">
                {{ pw_form.new_password(class="form-control form-field", placeholder='New password') }}

                {% if pw_form.new_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in pw_form.new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ pw_form.confirm_new_password(class="form-control form-field", placeholder='Confirm password') }}

                {% if pw_form.confirm_new_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in pw_form.confirm_new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ pw_form.psubmit(class="btn btn-primary input-group") }}

        </form>
    </div>
</div>


{% endblock %}