{% extends "header.html" %}
{% block content %}

<p> {{item_type.capitalize()}} Item </p>

<div class="row">
    <div class="col">
        <img class="itempic" src="data:image/png;base64,{{item.image}}" alt="image">
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- Add description -->
        {{item.description}}
    </div>
    <div class="col">
        <!-- Add description -->
        {{item.location}}
    </div>
</div>

<a href="{{ url_for('posts.new', item_type=item_type, reference=item.id) }}">
    <h4>If you've {{'found' if item_type == 'lost' else 'lost'}} this item, fill out this form</h4>
</a>

{% endblock %}