{% extends "header.html" %}
{% block content %}

<p> {{item_type.capitalize()}} Item </p>

<div class="row">
    <div class="col">
        <img class="itempic" src="data:image/png;base64,{{item.image}}" alt="image">
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- Add description -->
        {{item.description}}
    </div>
    <div class="col">
        <!-- Add description -->
        {{item.location}}
    </div>
</div>

{% if item.reference %}

<div class="alert alert-success" role="alert">
    {# <strong>This </strong> You successfully read this
    important alert message. #}
    <a
        href="{{ url_for('posts.item', item_type=('found' if item_type == 'lost' else 'lost'), item_id=item.reference.id) }}">
        This item has been {{'found' if item_type == 'lost' else 'claimed'}}
    </a>
</div>

{% else %}

<a href="{{ url_for('posts.new', item_type=('found' if item_type == 'lost' else 'lost'), reference=item.id) }}">
    <h4>If you've {{'found' if item_type == 'lost' else 'lost'}} this item, fill out this form</h4>
</a>

{% endif %}

{% endblock %}