{% extends "header.html" %}
{% block content %}

<h2> {{item_type.capitalize()}} Item </h2>


<div class="card">



    {# <p>attempting to load image</p> #}
    <img class="full-image card-img-top" src="data:image/png;base64,{{item.b64_image}}" alt="({{item.description}})">


    <div class="card-body">
        <div class="row">
            <div class="col">
                <!-- Add description -->
                {{item.description}}
            </div>
            <div class="col">
                <!-- Add description -->
                {{item.location}}
            </div>
        </div>
    </div>
</div>

{% if item.reference %}

<div class="alert alert-success" role="alert">
    {# <strong>This </strong> You successfully read this
    important alert message. #}
    <a
        href="{{ url_for('posts.item', item_type=('found' if item_type == 'lost' else 'lost'), item_id=item.reference.id) }}">
        This item has been {{'found' if item_type == 'lost' else 'claimed'}}
    </a>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
    <a href="{{ url_for('posts.new', item_type=('found' if item_type == 'lost' else 'lost'), reference=item.id) }}">
        <h5>If you've {{'found' if item_type == 'lost' else 'lost'}} this item, fill out this form!</h5>
    </a>
</div>


{% endif %}

{% endblock %}