/* @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins"; */

/* 404 error page */
* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.form-container {
    display: block;
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: row;
}

.form-field {
    width: 225px;
}

.error-404-heading {
    color: red;
    font-weight: bold;
    text-align: center;
}

.error-404-msg {
    max-width: 25%;
    display: inline-block;
    text-align: center;
}

.error-404-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-body>img {
    max-width: 200;
}

/*.media-list {
    border-top: 1px dashed rgb(150, 150, 150);
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}
*/

.propic {
    max-width: 50%;
}

.comment-pic {
    max-width: 50%;
    /* Square */
    object-fit: cover;
    overflow: hidden;
    height: 30vh;
    width: 30vw;
}

.comment-pic {
    max-width: 64px;
    max-height: 64px;
}

.full-image {
    /* Rectangle */
    object-fit: cover;
    overflow: hidden;
    max-height: 60vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /* background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0; */
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 20px 20px 20px 20px;
    margin: 10px;
}

/* In query.html: expand on hover */
.expand-on-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    z-index: 100;
}

form>* {
    margin-bottom: .5em;
}

form>input[type="submit"] {
    width: 100%;
}

.camera-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#videoElement {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#captureButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 20px;
    font-size: 72px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}