/* 404 error page */ 
.form-container {
    display:block;
    justify-content: left;
    align-items: left;
    display:flex;
    flex-direction: row;
}

.form-field {
    width: 225px;
}

/*
.error-404-heading {
    color: red;
    font-weight: bold;
    text-align: center;
}

.error-404-msg {
    max-width: 25%;
    display: inline-block;
    text-align: center; 
}

.error-404-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
*/